body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffe4b5;

}




.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(238, 137, 42, 0.911), rgba(250, 246, 246, 0.3)), url("images/16.jpg");
  background-size: 100% 100%;
  color: #fff;
  position: relative;
}



.navbar {
  margin-left: 900px;
  font-weight: 1000;
  color: #fff;
  font-size: 14px;
  font-family: "be vietnam";
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr 1fr 1fr 1fr 1fr 1fr);


  padding-top: 30px;
  grid-gap: 15px;
}


li {
  list-style: none;
}

a {
  text-decoration: wavy;
  color: burlywood;
}


.nav-link {
  text-align: center;
  padding: 10px 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}

.nav-link {
  background-color: wheat;
  transition: transform .3s;
}

/*#loginbtn {
  background: transparent;
  outline: none;
  font-weight: 1000;
  border: none;
  cursor: pointer;
  font-family: "be vietnam";
  color: burlywood;


}*/

.nav-link:hover {
  background-color: rgb(184, 89, 11);
  cursor: pointer;
  transform: translateY(6px);
}





.slider {
  width: 48%;
  height: 385px;
  position: absolute;
  left: 50%;
  top: 36.5%;
  bottom: 60%;
  margin-bottom: 600px;
  transform: translate(-50%, -50%);
  border-color: rgb(153, 177, 204);
  border-width: 11px;
  border-radius: 40px;
  background: url("images/10.jpg");
  background-size: 100% 100%;
  animation: slide 20s infinite;
}

@keyframes slide {
  25% {
    background: url("images/11.jpg");
    background-size: 100% 100%;
  }

  50% {
    background: url("images/12.jpg");
    background-size: 100% 100%;
  }

  75% {
    background: url("images/13.jpg");
    background-size: 100% 100%;
  }

  100% {
    background: url("images/14.jpg");
    background-size: 100% 100%;
  }

}


#one {
  font-size: 22px;
  font-weight: 550;
  font-family: Brush Script MT;
  color: black;
  font-style: italic;
  margin-top: 570px;
  margin-left: 200px;
  margin-right: 180px;
  text-align: center;
  word-spacing: 7px;

}



.image {

  background-image: url("images/abstract-6353626_1920.png");
  position: relative;
  height: 100%;
  overflow: hidden;

}

#two {
  font-family: 'Comic Sans MS', 'Courier New', Courier, monospace;
  text-align: center;
  font-style: italic;
  font-size: 80px;
  font-weight: 700;
}

/*#login-form {
  display: flex;
}*/


.formBox {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 2% auto;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  overflow: hidden;

}

.buttonBox {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;

}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #F3C693;
  border-radius: 30px;
  transition: .5s;
}

.input-group-login {
  top: 150px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-group-register {
  top: 120px;
  position: absolute;
  width: 280px;
  transition: .5s;
}


.input-field {
  width: 100%;
  padding: 20px 20px;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;

}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #F3C693;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box {
  margin: 30px 10px 34px 0;
}

span {

  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
  transition: .5s;

}

#login {
  left: 50px;
}

#login input {
  color: white;
  font-size: 15;
}

#register {
  left: 450px;
}

#register input {
  color: white;
  font-size: 15;
}




.thirdPage {
  margin-top: 0%;
  padding-top: 0%;
  width: 100%;
  min-height: 100%;
  background-image: url("images/ab1.png");
  background-size: 100% 100%;
  position: relative;

}

#joyOfGiving {
  text-align: center;
  font-size: 60px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;

}


.img_heart img {
  width: 1400px;
  padding: 0%;
  animation: heart 3s linear 1;

}

.img_heart {
  align-items: center;
  justify-content: center;
  display: block;
  position: relative;


}

@keyframes heart {
  0% {
    transform: translateY(-80vh);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 1;

  }

  70% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 0;

  }
}

#imgs {
  width: 28%;
  height: 380px;
  padding: 0% 0%;
  position: absolute;
  right: 70%;
  top: 0%;
  bottom: 100%;
  margin-top: 0%;
  background: url("images/person-3160685_1920.png");
  background-size: 100% 100%;

}

.form2 {
  width: 700px;
  height: 1400px;
  position: absolute;
  top: 2%;
  left: 29%;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.7);
  padding: 6px;
  overflow: hidden;

}

.loc-logo {
  width: 10%;
  height: 6.2%;
  position: absolute;
  top: 2%;
  left: 4%;
  border-radius: 0px;
  background: url("images/location-icon-png-4240.png");
  background-size: 5em;

}

.input-location {
  top: 150px;
  left: 6%;
  position: absolute;
  width: 280px;

}

#location input {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
}

.contact-logo {
  width: 20%;
  height: 11%;
  position: absolute;
  top: 50%;
  left: 4%;
  border-radius: 0px;
  background: url("images/contact-icon-png-4071.png");
  background-size: 8em;
}

.input-contact {
  top: 790px;
  left: 6%;
  position: absolute;
  width: 280px;

}

#contact input {
  font-size: 20px;
  padding: 10% 10%;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;

}

p {
  margin-left: 1em;
  color: #777;
  font-size: 20px;

}


#contact select{
  margin-left: 2em;
}
#contact option {
  padding: 6% 6%;
  padding-left: 1em;
  padding-bottom: 18%;
  background-color: #999;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(122, 117, 117);
  border: none;
  
}

#contact button{
  margin-top: 5em;
}




/*.thirdPage {
  width: 100%;
  min-height: 100%;

  background-size: 100% 100%;
  position: relative;

}
.image {

  position: relative;
  overflow: hidden;
}


.image__overlay {
  position: absolute;
  display:flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}

.image__overlay>* {
  transform: translateY(20px);
  transition: transform 0.2s;

}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover>* {
  transform: translateY(0);
}*/